.page {
  min-height: calc(100vh - 120px);
  width: 100%;
  max-width: var(--maxWidthXL);
  margin: auto;
  padding-top: calc(var(--space5XL));

  @media (--mediaMobile) {
    padding-top: var(--space3XL);
  }
}

.title {
  margin-bottom: var(--spaceM);
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    // transform: translate3d(0, var(--space5XL), 0);
  }

  &[data-status='entering'],
  &[data-status='entered'] {
    transform: none;
    opacity: 1;
  }

  &[data-status='exiting'] {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;

    // @media (--mediaUseMotion) {
    //   transform: translate3d(0, calc(var(--space2XL) * -1), 0);
    // }
  }
}

.divider {
  margin-bottom: var(--space3XL);
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    // transform: translate3d(0, var(--space5XL), 0);
  }

  &[data-status='entering'],
  &[data-status='entered'] {
    transform: none;
    opacity: 1;
  }

  &[data-hidden='true'] {
    opacity: 0;

    // @media (--mediaUseMotion) {
    //   transform: translate3d(0, var(--space5XL), 0);
    // }
  }

  &[data-status='exiting'] {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;

    // @media (--mediaUseMotion) {
    //   transform: translate3d(0, calc(var(--space2XL) * -1), 0);
    // }
  }
}
