.navbar {
  --offset: 6px;
  --inset: calc(var(--spaceOuter) - var(--offset));

  position: fixed;
  z-index: var(--zIndex4);
  top: calc(var(--inset) - 3rem);
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: calc(100vw);
  background-color: transparent;
  transition: all 0.18s ease-in-out 0.1s;
  padding: 1rem 0 0 0.5rem;

  &[data-navscroll='true'] {
    border-radius: 0 0 0 0;
    background-color: rgb(var(--rgbBackground) / 1);
    padding: 1rem 0 0 0.5rem;
    transition: all 0.1s ease-in-out;

    // &::before {
    //   content: '';
    //   width: 100%;
    //   height: 38px;
    //   background-color: rgb(var(--rgbBackground) / 0.84);
    //   position: fixed;
    //   top: -26px;
    // }
  }

  @media (--mediaMobile), (--mediaMobileLS) {
    &:not([data-mobile='true']) {
      display: none;
    }
  }

  &[data-mobile='true'] {
    --offset: var(--spaceXS);
    --inset: calc(var(--spaceXL) - var(--offset));

    top: unset;
    bottom: var(--inset);
    margin-top: 0;
    margin-right: 0;
  }
}

.navbarMobile {
  display: none;
  top: calc(var(--inset) - 1.5rem);

  @media (--mediaMobile), (--mediaMobileLS) {
    display: block !important;
  }
}

.navcontent {
  max-width: var(--maxWidthL);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.circle {
  fill: currentColor;
  transform: scale(0.6);
  transform-origin: center;

  @media (--mediaUseMotion) {
    transition-property: transform, fill;
    transition-duration: var(--durationL);
    transition-delay: 0s;
    transition-timing-function: var(--bezierFastoutSlowin);
  }

  &[data-mask='true'] {
    fill: white;
  }

  @nest body[data-theme='dark'] & {
    transform: none;

    @media (--mediaUseMotion) {
      transition-delay: 0.3s;
    }
  }
}

.mask {
  fill: black;
  transform: translate3d(100%, -100%, 0);

  @media (--mediaUseMotion) {
    transition: transform var(--durationL) var(--bezierFastoutSlowin);
    transition-delay: 0s;
  }

  @nest body[data-theme='dark'] & {
    transform: none;

    @media (--mediaUseMotion) {
      transition-delay: 0.3s;
    }
  }
}

.path {
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-width: 3;
  stroke-dasharray: 7 7;
  stroke-dashoffset: 0;
  opacity: 1;

  @media (--mediaUseMotion) {
    transition-property: stroke-dashoffset, opacity;
    transition-duration: var(--durationL);
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-delay: 0.3s;
  }

  @nest body[data-theme='dark'] & {
    stroke-dashoffset: 7;
    opacity: 0;

    @media (--mediaUseMotion) {
      transition-delay: 0s;
    }
  }
}

.navList {
  margin-left: 2rem;
  letter-spacing: 1px;
  > *:not(:first-child) {
    margin-left: 2rem;
  }
}

.row {
  display: flex;
  align-items: center;
}
